{% extends "layout.html" %}

{%block title%}

Home

{% endblock%}

{% block main%}
<div class="wrapper">
  <div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="javascript:void(0)" class="simple-text logo-mini">
          CT
        </a>
        <a href="javascript:void(0)" class="simple-text logo-normal">
          Ritmos
        </a>
      </div>
      <ul class="nav">
        <li>
          <a href="./dashboard.html">
            <p>Ballet</p>
          </a>
        </li>
        <li>
          <a href="./icons.html">
            <p>Bachata</p>
          </a>
        </li>
        <li>
          <a href="./map.html">
            <p>Bolero</p>
          </a>
        </li>
        <li>
          <a href="./notifications.html">
            <p>Break dance"</p>
          </a>
        </li>
        <li>
          <a href="./user.html">
            <p>Cha-cha-chá</p>
          </a>
        </li>
        <li>
          <a href="./tables.html">
            <p>Cumbia</p>
          </a>
        </li>
        <li>
          <a href="./typography.html">
            <p>Hip Hop</p>
          </a>
        </li>
        <li>
          <a href="./typography.html">
            <p>Kizomba</p>
          </a>
        </li>
        <li>
          <a href="./rtl.html">
            <p>K-pop</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="./upgrade.html">
            <p>Merengue</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="./upgrade.html">
            <p>Mambo</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="./upgrade.html">
            <p>Reggaetón</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="./upgrade.html">
            <p>Rock & Roll</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="./upgrade.html">
            <p>Salsa y Rueda Cubana</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="./upgrade.html">
            <p>Samba</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="./upgrade.html">
            <p>Tango</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="./upgrade.html">
            <p>Vals Francés o Pericón</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="./upgrade.html">
            <p>Vals Inglés</p>
          </a>
        </li>

      </ul>
    </div>
  </div>

<br>

<div>
  <form action="/" method="post" class="form-inline pt-5 mt-5 justify-content-center">
    <input class="form-control" id="search" autocomplete="on" autofocus class="form-control" name="coreo"
      placeholder="Coreografo, categoria, cancion" type="text" />

    <button class="btn btn-fill btn-primary" type="submit"><i class="fas fa-search"></i></button>
  </form>
</div>

{% for coreo in coreos%}

  <div class="top-musica">
    <h3 >{{coreo["ritmo"]}}</h3>
    <div class="music-top-box row d-flex">
        {% for info in coreo["info"]%}
        <div class="card mt-2 mb-0 mr-2 ml-2">
          <a href="coreografia/{{info["id"]}}" class="boton p-0 m-0"><img class="img-top" src="{{info["portada"]}}"></a>
          <h5 class="card-title">{{info["titulo"]}}</h5>
      </div>
        {%endfor%}
    </div>
  </div>

{% endfor %}

{% endblock%}