{% extends "layout.html" %}

{%block title%}

Home

{% endblock%}

{% block main%}
<div class="wrapper">
  <div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
      <div class="logo">
      </div>
      <ul class="nav">
        <li>
          <a id="rit_6">
            <p>Bachata</p>
          </a>
        </li>
        <li>
          <a id="rit_1">
            <p>Ballet</p>
          </a>
        </li>
        <li>
          <a id="rit_7">
            <p>Bolero</p>
          </a>
        </li>
        <li>
          <a id="rit_18">
            <p>Break dance"</p>
          </a>
        </li>
        <li>
          <a id="rit_8">
            <p>Cha-cha-chá</p>
          </a>
        </li>
        <li>
          <a id="rit_9">
            <p>Cumbia</p>
          </a>
        </li>
        <li>
          <a id="rit_16">
            <p>Hip Hop</p>
          </a>
        </li>
        <li>
          <a id="rit_10">
            <p>Kizomba</p>
          </a>
        </li>
        <li>
          <a id="rit_17">
            <p>K-pop</p>
          </a>
        </li>
        <li>
          <a id="rit_12">
            <p>Merengue</p>
          </a>
        </li>
        <li>
          <a id="rit_15">
            <p>Mambo</p>
          </a>
        </li>
        <li>
          <a id="rit_12">
            <p>Reggaetón</p>
          </a>
        </li>
        <li>
          <a id="rit_3">
            <p>Rock & Roll</p>
          </a>
        </li>
        <li>
          <a id="rit_13">
            <p>Salsa y Rueda Cubana</p>
          </a>
        </li>
        <li>
          <a id="rit_14">
            <p>Samba</p>
          </a>
        </li>
        <li>
          <a id="rit_2">
            <p>Tango</p>
          </a>
        </li>
        <li>
          <a id="rit_4">
            <p>Vals Francés o Pericón</p>
          </a>
        </li>
        <li>
          <a id="rit_18">
            <p>Vals Inglés</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% block navbar%}
  <div class="navbar-toggle d-inline">
    <button type="button" class="navbar-toggler">
      <span class="navbar-toggler-bar bar1"></span>
      <span class="navbar-toggler-bar bar2"></span>
      <span class="navbar-toggler-bar bar3"></span>
    </button>
  </div>
  {% endblock %}

<br>

<div class="container-fluid text-center" id="cont_buscar">
  <div id="div_buscar">
    <input class="form-control" id="search" autocomplete="on" autofocus class="form-control" name="coreo"
      placeholder="Coreografo, ritmo, titulo" type="text" />
  </div>
    <button class="btn btn-fill btn-primary" id="btn_buscar"><i class="fas fa-search"></i></button>
</div>


  <div class="coreos">
    <div class="coreo-box row d-flex" id="coreo">
    </div>
  </div>


{% endblock%}