<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %} {% endblock %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e1b504be8a.js" crossorigin="anonymous"></script>

  <link href="/static/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="/static/imagenes/favicon.png">

</head>

<body>
  {% if session.user_id %}
  <nav class="navbar navbar-dark">
      <a class="navbar-brand" href="/">Home</a>

    <div class="nav-item dropleft">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
      </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/micuenta">Mi cuenta</a>
          <a class="dropdown-item" href="/logout">Cerrar sesión</a>
        </div>
      </div>

      {% endif %}
    </div>
  </nav>


  </div>
  </nav>

  {% if get_flashed_messages() %}
  <header>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="{{ category }} text-center p-3">{{ message }}</div>
      {% endfor %}
    {% endwith %}
  </header>
  {% endif %}

  <main class="container-fluid pb-5">
    {% block main %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>