{% extends "layout.html" %}

{%block title%}

Login

{% endblock%}

{% block main%}


<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Asi se baila</h1>
		<p>La vida es corta y siempre habrá platos sucios, así que vamos a bailar.</p>
		</div>
	</div>
	
	
		<div class="right mt-5 text-center">
		<h2>Login</h2>
		<br><br>
		<form action="/login" method="post">
		<div class="inputs">
			<input type="text" class="form-control mb-3" placeholder="username" name="username" required>
			
			<input type="password" class="form-control mb-4" placeholder="contraseña" name="password" required>
		</div>	

                <button type="submit" class="btn btn-fill btn-primary">Iniciar sesion</button>

		</form>

			<br>
			<br>	
			<p>¿No tienes una cuenta? <a href="/register">Crea tu cuenta</a> toma menos de un minuto</p>
	</div>
	
</div>
{% endblock %}