{% extends "layout.html" %}

{% block title %}

Mi cuenta

{% endblock %}

{% block main %}

<div class="content">
  
    <div class="container mt-5">
      <div class="row justify-content-center">
    
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Tus Datos de usuario :D</h5>
              <div class="mb-3 row">
                  {%for datos in usuario%}
                <label for="username" class="col-sm-4 col-form-label">Username:</label>
                <div class="col-sm-8">
                  <input type="text" form="update-my-profile" class="form-control" id="username"  name="username"
                    placeholder="panchito perez" disabled value="{{datos["username"]}}"></div>
    
              </div>
              <div class="mb-3 row">
                <label for="email" class="col-sm-4 col-form-label">Nombre:</label>
                <div class="col-sm-8">
                  <input type="email" form="update-my-profile" class="form-control" id="email" name="email"
                    placeholder="sinpanza@quisieraestar.com" disabled value="{{datos["nombre"]}}">
                </div>
              </div>
              
              <div class="mb-3 row">
                <label for="cycle-group" class="col-sm-4 col-form-label">Apellido:</label>
                <div class="col-sm-8">
                  <input type="text" form="update-my-profile" class="form-control" id="cycle-group" name="cycle-group"
                    placeholder="{{datos["apellido"]}}" disabled value="{{datos["apellido"]}}">
                </div>
              </div>
              
              <div class="mb-3 row">
                <label for="phone" class="col-sm-4 col-form-label">Teléfono:</label>
                <div class="col-sm-8">
                  <input type="tel" form="update-my-profile" class="form-control" id="phone" name="phone" placeholder="{{datos["numero_telefono"]}}" required
                    value="{{datos["telefono"]}}">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="correp" class="col-sm-4 col-form-label">Correo:</label>
                <div class="col-sm-8">
                  <input type="text" form="update-my-profile" class="form-control" id="correo" name="correo" placeholder="{{datos["correo"]}}" required
                    value="{{datos["correo"]}}">
                </div>
              </div>
              
            </div>

            {%endfor%}
            <div class="card-footer d-flex p-1 m-1">
              <form action="/micuenta" id="update-my-profile" method="post">
              <input type="hidden" name="csrfmiddlewaretoken" value="RV5mrgHzkbPJwc5tZ5VRsWVfNpv8UxabHPILxeOnMbanZBeZ8uaU4sRE3r5zdvMM">
                <input type="submit" value="Editar información" class="submit">
              </form>
              <a href="/actualizarcontraseña" class="submit ml-5">Cambiar contraseña</a>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    </div>
{% endblock %}