{% extends "layout.html" %}

{% block title %}

Mi cuenta

{% endblock %}

{% block main %}

<div class="content">
  <div class="row mi-cuenta">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="sign pt-2 pb-2 text-center">Perfil</h3>
        </div>
        
        {%for usuario in usuario%}
        <div class="card-body">
          <div class="card card-user">
            <div class="card-body">
              <p class="card-text">
              <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                {% if session["perfil"] %}
                <img class="avatar" src="{{session["perfil"]}}" id="img-preview">
                {% else %}
                <img class="avatar" id="img-preview">
                {% endif %}
                <br>
                <label for="img-uploader"> Editar foto de perfil</label>
                <input type="file" id="img-uploader" required accept="image/*" hidden>
                <input name="perfil" id="url" hidden form="update-my-profile">
                <h5 class="title">{{usuario["username"]}}</h5>
              </div>
              <div class="row">
                <div class="col-md-5 pr-md-1">
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" value="{{usuario["username"]}}"
                      name="username" disabled>
                  </div>
                </div>

                <div class="col-md-3 pr-md-1">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" form="update-my-profile" value="{{usuario["nombre"]}}"
                      placeholder="Nombre" name="nombre" required>
                  </div>
                </div>
                <div class="col-md-3 pl-md-1">
                  <div class="form-group">
                    <label>Apellido</label>
                    {% if usuario["apellido"] %}
                    <input type="text" class="form-control" form="update-my-profile" value="{{usuario["apellido"]}}"
                      name="apellido" required>
                    {% else %}
                    <input type="text" class="form-control" form="update-my-profile" placeholder="Apellido"
                      name="apellido">
                    {% endif %}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5 pr-md-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    {% if usuario["correo"] %}
                    <input type="email" class="form-control" form="update-my-profile" value="{{usuario["correo"]}}"
                      name="correo" required>
                    {% else %}
                    <input type="email" class="form-control" form="update-my-profile" placeholder="Correo"
                      name="correo">
                    {%endif%}
                  </div>
                </div>

                <div class="col-md-5 pl-md-1">
                  <div class="form-group">
                    <label>Telefono</label>
                    {% if usuario["telefono"] %}
                    <input type="text" class="form-control" form="update-my-profile" value="{{usuario["telefono"]}}"
                      name="telefono" required>
                    {% else %}
                    <input type="text" class="form-control" form="update-my-profile" placeholder="Telefono"
                      name="telefono">
                    {% endif%}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label>Acerca de mi</label>
                    {% if usuario["biografia"]%}
                    <input type="text" class="form-control" form="update-my-profile" value="{{usuario["biografia"]}}"
                      name="biografia" required>
                    {% else %}
                    <input type="text" class="form-control" form="update-my-profile"
                      placeholder="Aca puede estar tu descripción" name="biografia">
                    {% endif %}
                  </div>
                </div>
              </div>
              </form>
            </div>
            <div class="card-footer">
              <form action="/micuenta" id="update-my-profile" method="post">
                <input type="submit" value="Guardar" class="btn btn-primary" data-toggle="modal" data-target="#GuadarInfo" style="height: 100%;">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}