{% extends "layout.html" %}

{%block title%}

Register

{% endblock%}

{% block main%}


<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Asi se baila</h1>
		<p>La vida es corta y siempre habrá platos sucios, así que vamos a bailar.</p>
		</div>
	</div>
	
		<div class="right mt-5">
		<h5>Register</h5>
		<br><br>
		<form action="/register" method="post">
		<div class="inputs">
			<input type="text" placeholder="username" name="username" required>
			<br>
            <input type="text" placeholder="nombre" name="nombre" required>
            <input type="text" placeholder="apellido" name="apellido" required>
			<input type="password" placeholder="contraseña" name="password" required>
            <br>
            <input type="password" placeholder="Confirmar contraseña" name="confirmation" required>

		</div>	
			
			<br><br>

			<br>
			<button type="submit">Login</button>
		</form>

			<br><br>
			<br>	
			<p>¿Ya tienes una cuenta? <a href="/login">Inicia sesion</a> y vamos a bailar</p>
	</div>
	
</div>
{% endblock %}